<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="text-center">旅行日志信息</h2>

        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="reviews-container">

        <div class="tab-pane active">
            <table style="color: #C0C0C0; text-align: left; margin-left: 12px;">
                <tr>
                    <th width="50px">序号</th>
                    <th width="140px">用户</th>
                    <th width="270px">标题</th>
                    <th width="220px">发布时间</th>
                    <th width="70px">状态</th>
                    <th width="70px">内容</th>
                    <th width="90px">操作1</th>
                    <th width="110px">操作2</th>
                </tr>
            </table>
            {volist name='data' id='list'}
            <div class="review" data-toggle="modal" data-target="#myModal" lid="{$list.lid}">
                <table style="text-align: left;">
                    <tr>
                        <td width="50px"><span class="icon-container"><b style="color: #BF242A;">{$i}</b></span></td>
                        <td width="140px"><span class="icon-container">{$list.uid}</span></td>
                        <td width="270px"><span class="icon-container">{$list.title}</span></td>
                        <td width="220px"><span class="icon-container">{$list.datetime}</span></td>
                        <td width="70px">{if($list.d_state==0)}<span class="icon-container">&nbsp;{$list.d_state}</span>{/if}{if($list.d_state==1)}<span class="icon-container" style="color: #BF242A;">&nbsp;{$list.d_state}</span>{/if}</td>
                        <td width="70px"><span class="icon-container">&nbsp;{$list.blank_content}</span></td>
                        <td width="90px"><button class="review chakan" lid="{$list.lid}">查看</button></td>
                        <td width="110px">{if($list.d_state==0)}<button class="review d_state" lid="{$list.lid}">修改状态</button>{/if}{if($list.d_state==1)}<button class="review "  style="color: #BF242A;">状态不变</button>{/if}</td>
                    </tr>
                </table>
            </div>
            {/volist}
        </div>
        <div id="page" class="page">
            {$page}
        </div>
    </div>
    <!-- 模态框（Modal） -->



    <div class="col-md-2"></div>

</div>
<script>
    $(function(){
        $(".chakan").click(function(event){
            var $lid=null;
            //获取自定义lid属性中内容
            $lid=$(this).attr("lid");
            if(window.confirm("欢迎查看日志"))
            {
                location.href="__MODULE__/complete_log?lid="+$lid;
            }
        });
    });
    $(function(){
        $(".d_state").click(function(event){
            var $lid=null;
            $lid=$(this).attr("lid");
            if(window.confirm("你确定要修改'"+$lid+"'用户旅行日志的状态嘛吗？"))
            {
                location.href="__MODULE__/d_state_log?lid="+$lid;
            }
        });

    });
</script>

