
<div class="container">
    <section>
        <div id="container_demo" >
            <br><br>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="#" autocomplete="on" method="post">
                        <h1>管理员修改昵称</h1>
                        <p>
                            <label for="username" class="uname" data-icon="u" > 昵称</label>
                            <input id="username" name="nickname" required="required" type="text" placeholder="number"/>
                        </p>
                        <p class="login button">
                            <input  class="btn btn-primary btn-lg" type="submit" value="提交" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
